.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #9e5200;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}

.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(237, 237, 237);
}
  
  
  
  

