.navLeft {
  display: flex;
  justify-content: space-between ;
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
  max-width: 100%;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;  
  padding-top: 1.5em;
  z-index: auto;
}

.navRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif; ;
  font-size: 16px;
}
  
  