.new-tweet {
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#error {
  color: red;
  border: 2px solid red;
  padding-left: 3px;
  width: 48%;
  margin-top: 3px;
}

#errorTwo {
  color: red;
  border: 2px solid red;
  padding-left: 3px;
  width: 43%;
  margin-top: 3px;
}
 
  #tweet-text {
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  resize: none;
  outline: none;
}
  
.tweetButton-counter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  width: 100%;
  margin-top: 3px;
}

.actual-button {
  background-color: #000000 ;
  border: none;
  color: white;
}

@media only screen and (min-width: 1024px) {
  
  .container {
    margin-top: 300px;
    align-items: center;
    width: 60%;
  }


}