.tweet {
  display: flex;
  width: 87%;
  border: 2px solid black;
  margin: 45px;
  background-color: transparent;
  flex-direction: column;
}

#tweets-container {
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
}



.tweet:hover {
  box-shadow: #96d1f3 0px 0px 0px 2px inset, rgb(237, 237, 237) 10px -10px 0px -3px, rgb(159, 232, 158) 10px -10px, rgb(237, 237, 237) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(237, 237, 237) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(237, 237, 237) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
  
.tweet-content {
  margin: 9px 9px 0px 9px;
  width: 97%;
  
}

.name-and-user-img {
  display: flex;
  justify-content: flex-start;
  padding-left: 1px;
  align-items: center;
}

.name-and-user-img h5:last-child {
  margin-left: auto;
}

.tweet-text {
  font-size: 13px;
  padding-left: 9px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.tweet-text > p {
  margin-bottom: 2px;
  overflow-wrap: break-word;
}

.time-stamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 10px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.user-img {
  height: 40px;
  width: 40px;
}
  
  
  
  



  